<!DOCTYPE html>
<html>
    <head> <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style type = "text/css">
                body{background-image: url("/assets/b1.jpg")! important;}
            </style>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href = "/">
   Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href = "Events">
    Upcoming Events</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href = "Forum-sucess">Member's Forum</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href = "Signin">
    Sign-in</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href = "Signup">
    Create Account</a></li>
  </ol>
</nav>
</html>
  