<DOCTYPE html>
	<header>
		      <script src="/application.js"></script> 

            <!---buttons--->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href = "home">
   Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href = "Events">
    Upcoming Events</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href = "Forum-success">Member's Forum</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href = "/<%=data[0].name%>/logout">
   Log Out</a></li>    
  </ol>
</nav>
        <header/>
	<!-- bootstrap link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <div class="container">
   	<body>
   <h1>
   
   WiSE Events

   </h1>
	    <div class= "card" style="width: 18rem;">
	      	<img src="/assets/speech.jpg" class="card-img-top" width="80%">
	       <div class="card-body">
		    <h5 class="card-title">Student Presentation</h5>
		    <p class="card-text">JUL 15: STEM Lab (CC 1800) , Clarkston Campus</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>

	  		</div>
	      
	    </div>
   
	     <div class= "card" style="width: 18rem;">
	      	<img src="/assets/speech.jpg" class="card-img-top" width="80%">
	       <div class="card-body">
		    <h5 class="card-title">Student Presentation</h5>
		    <p class="card-text">JUL 15: STEM Lab (CC 1800) , Clarkston Campus</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>

	  		</div>
	      
	    </div>

	      <div class= "card" style="width: 18rem;">
	      	<img src="/assets/speech.jpg" class="card-img-top" width="80%">
	       <div class="card-body">
		    <h5 class="card-title">Student Presentation</h5>
		    <p class="card-text">JUL 15: STEM Lab (CC 1800) , Clarkston Campus</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>

	  		</div>
	      </div>

</body>