<!DOCTYPE html>
<html>
    <head>
     <% include partials/nav.ejs %>
    <title>Women in STEM Experience</title>
    <meta name = "description" content = "This is the page that shows the user is successfully logged in.">
    <!-- Are the scripts supposed to be at the end of the head tag or after the body?-->
        
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <script src="/assets/addedText.js"></script> 
    <script src="/application.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
    </head>
      <body>
    <div class="container">
  <h1>Member's Forum</h1>
  <b><a href = "Signin">Sign in</a> TO CONTRIBUTE TO THE THREAD</b>
   <% for(var i=data.length-1; i > 0; i--){%>
      <div class="alert alert-primary"role="alert"><b><%=data[i].name%></b> <%=data[i].message%></div>
   <%}%>
</body>
    </html>