<!DOCTYPE html>
<html>
    
    <head>
      <% include partials/nav.ejs %>
    
        <title>Women in STEM Experience |</title>
        <meta name = "description" content = "This is the description">
        <!-- bootstrap link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
   
  </head>
  <button type="button" class="btn btn-primary">Primary</button>
 <h1> Welcome to WISE, <%= data.name %>!</h1>
 <h2>Please Begin By Introducing Yourself In Our Member's Forum.</h2>
  <form action="/Forum"> 
  <input type="submit" value="Visit Member's Forum" class="btn btn-primary">
</form>
    </html>
